@charset 'UTF-8';

@import 'settings';

.divider {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-width: 100%;
    height: $divider-size;
    min-height: $divider-size;
    background-color: $divider-color;
    &--horizontal {
        height: 100%;
        min-height: 100%;
        width: $divider-size;
        min-width: $divider-size;
    }
}
